---
layout: list
title: Design
permalink: /design/
---

{% for post in site.posts %}
{% for category in post.categories %}
{% if category contains 'design' %}

<div class="list-item">
		<time>{{ post.date | date: "%b %-d, %Y" }}</time>
		<h3><a class="list-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} {% for image in post.images limit: 1 %}    
{% capture path %}{{ image.img_url }}{% endcapture %}
{% capture alt %}{{ image.title }}{% endcapture %}

{% responsive_image_block %}
  path: {{ path }}
  alt: {{ alt }}
  template: /_includes/list-srcset.html    
  sizes: "(max-width: 400px) 100vw, 50vw"
{% endresponsive_image_block %} </a></h3>
  
          
</div>    

{% endfor %}


{% else %}
{% continue %}
{% endif %}
{% endfor %}
{% endfor %}