---
layout: default
title: Photography
permalink: /photography/
---
<h1 class="category-title">{{ page.title }}</h1>
<section class="images" id="masonry">
{% assign posts = site.posts | sort: 'order' %} 
{% for post in posts %}
{% for category in post.categories %}
{% if category contains 'photography' %}

    
    {% for image in post.images limit: 1 %}    
  {% capture thecycle %}{% cycle 'alpha', 'bravo', 'charlie', 'delta'  %}{% endcapture %}
       
           <div class="image {{ thecycle }} {% if image.anchor %}{{ image.anchor }}{% endif %}"  >
        {% capture path %}{{ image.img_url  | prepend: site.photourl }}{% endcapture %}
{% capture alt %}{{ image.title }}{% endcapture %}

    {% if path contains 'mp4' or path contains 'webm' %}
  {% capture poster %}{{ image.poster | prepend: site.photourl }}{% endcapture %}
 <video loop muted autoplay playsinline webkit-playsinline poster="{{ poster | strip_html }}{{ site.img_sizes.grande }}" src="{{ path | strip_html }}" class="lazy">
        <source src="{{ path | strip_html }}" type="{% if path contains 'mp4' %}video/mp4{% else %}video/webm{% endif %}">
</video>  
    {% else %}

    <img srcset="{% include img_srcset.html %}" src="{% include img_src.html %}"  sizes="(max-width: 550px) 100vw, 40vw" />  
    
{% endif %}
<div class="content{% if post.cover_color %} {{ post.cover_color }}{% elsif post.feature_color %} {{ post.feature_color }}{% else %} white{% endif %}">
             <a href="{{ post.url | prepend: site.url }}" title="{{post.title }}"><h2>{{ post.title | truncatewords: 2, "" }}</h2>
                 <time>{{ post.date | date: "%B %Y" }}</time>
    </a>  
         </div>
 <div class="mobile-title"><h4>{{ post.title }}</h4></div>                 
        </div>    
 {% endfor %}       

{% else %}
{% continue %}
{% endif %}
    
{% endfor %}
{% endfor %}
</section>
