---
layout: default
title: Photography
permalink: /photography/
---
<section class="images home ">
{% for post in site.posts %}
{% for category in post.categories %}
{% if category contains 'photography' %}

    
    {% for image in post.images limit: 1 %}    
  {% capture thecycle %}{% cycle 'alpha', 'bravo', 'charlie', 'delta'  %}{% endcapture %}
       
           <div class="image {{ thecycle }} {% if image.anchor %}{{ image.anchor }}{% endif %}"  >
        {% capture path %}{{ image.img_url }}{% endcapture %}
{% capture alt %}{{ image.title }}{% endcapture %}

    {% if path contains 'mp4' or path contains 'webm' %}
 <video loop muted autoplay playsinline>
        <source src="{{ path | strip_html }}" type="{% if path contains 'mp4' %}video/mp4{% else %}video/webm{% endif %}">
</video>  
    {% else %}

{% responsive_image_block %}
  path: {{ path }}
  alt: {{ alt }}
  sizes: "(max-width: 550px) 100vh, 80vw"
  template: /_includes/unlazy-srcset.html    
{% endresponsive_image_block %}

{% endif %}
<div class="content{% if post.cover_color %} {{ post.cover_color }}{% elsif post.feature_color %} {{ post.feature_color }}{% else %} white{% endif %}">
             <a href="{{ post.url | prepend: site.url }}" title="{{post.title }}"><h2>{{ post.title }}</h2>
                 <time>{{ post.date | date: "%b %-d, %Y" }}</time>
    </a>  
         </div>
               
        </div>    
 {% endfor %}       

{% else %}
{% continue %}
{% endif %}
    
{% endfor %}
{% endfor %}
</section>
