--- 
layout: full-homepage 
title: Testbed
permalink: /testbed/
---



<section class="intro">

<p><span class="im-max">i’m <span class="termina">max</span></span><span class="rarr mobile-hide"></span>i’m a <span class="termina">creative director, visual designer, and free thinker</span> based in los angeles<span class="rarr"></span>I work as the creative director for <span class="termina">gohunt</span><span class="rarr"></span>i have a track record of working with startups and agencies to deliver <span class="termina">engaging, unique projects from concept to completion</span></p>

</section>

<section class="featured-work">

    <span class="mobile-accordion" data-accordion="true">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.5673 14.5796L4.89847 9.91082L4.21692 10.5924L10.0101 16.3855L15.8032 10.5924L15.1217 9.91082L10.5312 14.5014L10.5312 3.55524L9.5673 3.55524L9.5673 14.5796Z" fill="#404040"/>
        </svg>
        Featured work</span>

    {% assign posts = site.posts | sort: 'order' %} {% assign count = 250 %}
    <div class="images" >
        {% for post in posts  limit: 8 %}
            {% if post.title contains "Deep Valley" %}
                {% continue %}
            {% else %}

            {% for image in post.images limit: 1 %}    
            {% capture thecycle %}{% cycle 'alpha', 'bravo', 'charlie', 'delta'  %}{% endcapture %}
                 {% assign count = count | plus: 50 %}
                     <div class="image {{ thecycle }} {% if image.anchor %}{{ image.anchor }}{% endif %}" data-sal="fade"  data-sal-delay="{{ count }}"  data-sal-duration="150" data-sal-easing="ease-in"  >
                  {% capture path %}{{ image.img_url  | prepend: site.photourl }}{% endcapture %}
          {% capture alt %}{{ image.title }}{% endcapture %}
          
              {% if path contains 'mp4' or path contains 'webm' %}
                           {% capture poster %}{{ image.poster | prepend: site.photourl }}{% endcapture %}
           <video loop muted autoplay playsinline webkit-playsinline poster="{{ poster | strip_html }}{{ site.img_sizes.grande }}" src="{{ path | strip_html }}" class="lazy">
                  <source src="{{ path | strip_html }}" type="{% if path contains 'mp4' %}video/mp4{% else %}video/webm{% endif %}">
          </video>  
              {% else %}
          
              <img srcset="{% include img_srcset.html %}" src="{% include img_src.html %}"  sizes="(max-width: 550px) 100vw, 40vw" />  
              
          {% endif %}
          <div class="content">
                       <a href="{{ post.url | prepend: site.url }}" title="{{post.title }}"><h2>{% if post.title contains "LSTN" or post.title contains "Accessory" %}{{ post.title | truncatewords: 3, "" }}{% else %}{{ post.title | truncatewords: 2, "" }}{% endif %}</h2>
                        <div class="tags">
                            {% for category in post.categories limit: 4 %}
                                {% if category == 'design' or category == "featured" %}
                                    {% continue %}
                                {% else %}
                                    <span class="tag">{{ category }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                          {% comment %} <time>{{ post.date | date: "%B %Y" }}</time> {% endcomment %}
              </a>  
                   </div>
           <a class="mobile-title" href="{{ post.url }}">
               <h4>{{ post.title }}</h4>
               <div class="tags">
                    {% for category in post.categories limit: 4 %}
                        {% if category == 'design' or category == "featured" %}
                            {% continue %}
                        {% else %}
                            <span class="tag">{{ category }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </a>                 
                  </div>    
           {% endfor %}       
                
            {% endif %}
        {% endfor %} {% comment %} end for post in posts limit: 6 loop {% endcomment %}
    </div>{% comment %} end "images" div {% endcomment %}

    <a href="/design/" class="more-work">See more case studies<span class="rarr"></span></a>

</section>


<section class="experience">

    <h2>Work Experience</h2>
    <div class="experience__list">
        <ul>
            <li>
                <span class="title">creative director &mdash; gohunt<br /></span>
                <span class="term">october 2021 <span class="rarr"></span> present</span>
            </li>

            <li>
                <span class="title">art director &mdash; small dog creative<br /></span>
                <span class="term">january 2020 <span class="rarr"></span> october 2021</span>
            </li>

            <li>
                <span class="title">creative director &mdash; lstn sound co<br /></span>
                <span class="term">november 2014 <span class="rarr"></span> july 2019</span>
            </li>

            <li>
                <span class="title">freelance creative &mdash; self<br /></span>
                <span class="term">august 2013 <span class="rarr"></span> forever</span>
            </li>

        </ul>
    </div>

</section>

<section class="experience">
    <h2>About Me</h2>
    <div class="experience__list">
        <p>i started my career as a freelance photographer and videographer. i linked up with the team at lstn and my first job with them was to fly to peru and document us giving hearing aids to people in need. i helped build their brand to new heights, and then I moved into the agency world to broaden my skills with a variety of clients. now i’m all about helping brands big and small with any aspect of their visual messaging. whether you need branding, marketing, ui/ux, and any other kind of visual design, i’m here to help. let’s talk.</p>
    </div>

</section>

<section class="contact-max">

    <ul>
        <li><a href="{{ site.photourl }}images/pdfs/MFRONEK-Resume-2020.pdf" target="_blank">Resumé</a></li>
        <li><a href="https://linkedin.com/in/maxfronek" target="_blank">LinkedIn</a></li>
        <li><a href="mailto:mf@maxfronek.com"  target="_blank">Email</a></li>
    </ul>

</section>