._*
.DS_Store
Thumbs.db
_site
.sass-cache
Gemfile.lock
/.sass-cache
/_posts/demo_posts
/assets
/_drafts
/photography
/graphic design
*.env
node_modules/
package-lock.json
package.json
yarn.lock
# Local Netlify folder
.netlify