<footer>
    <hr />
<div class="footer-links">
    <a href="https://github.com/{{ site.github_username }}" class="github"><img src="/images/social/social-gh.svg"></a>
    <a href="https://instagram.com/{{ site.instagram_username }}" class="instagram"><img src="/images/social/social-ig.svg"></a>
    <a href="https://dribbble.com/{{ site.dribbble_username }}" class="dribbble"><img src="/images/social/social-drb.svg"></a>
    {% comment %}
    <a href="https://twitter.com/{{ site.twitter_username }}" class="twitter"><img src="/images/social/social-tw.svg"></a>
    {% endcomment %}
    </div>
</footer>

<script src="{{ base.url | prepend: site.url }}/js/mf.js"></script>
