<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async defer src="https://www.googletagmanager.com/gtag/js?id=UA-140693073-1"></script>
<script async defer>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140693073-1');
</script>
    
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% if page.url == '/testbed/' %}
    <meta name="robots" content="noindex,nofollow">
  {% endif %}

  <title>{% if page.title %}{{ page.title }} // Max Fronek Design{% else %}{{ site.title }}{% endif %}</title>
  <link rel="shortcut icon" type="image/png" href="{{ base.url }}/images/favicon.png"/>
  <!-- fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/wjg6eoc.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;800&display=swap" rel="stylesheet">
  <!-- styles -->
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.url }}"
  />

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- polyfill for intersection observer -->
<script type="text/javascript" src="/scripts/intersection-observer.js"></script>
<!-- this is just getting the file that GULP makes combining all JS plugins -->    
<script type="text/javascript" src="{{ '/scripts/plugins.js' }}"></script>
    
    <!-- fixes animations if javascript is disabled -->
<noscript>
  <style type="text/css">
    [data-sal|='fade'] {
      opacity: 1;
    }

    [data-sal|='slide'],
    [data-sal|='zoom'] {
      opacity: 1;
      transform: none;
    }

    [data-sal|='flip'] {
      transform: none;
    }
  </style>
</noscript>

</head>