<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="shortcut icon" type="image/png" href="{{ base.url | prepend: site.url }}/images/favicon.png"/>
  <link rel="stylesheet" href="https://use.typekit.net/wjg6eoc.css">
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
{% include plugins.html %}
</head>