<header>
    <button class="hamburger" id="hamburger">
           <span class="patty"></span>
           <span class="patty"></span>
           <span class="patty"></span>
        <div class="menu-bg"></div>
       </button>
    
    <a class="mtof" id="logo" style="" {% if page.title %}href="/"{% endif %} title="" rel="home">
 
<span class="m-left"></span>
<span class="x-left"></span>
<span class="x-right"></span>
<span class="m-right"></span>
<span class="a-left"></span>
<span class="a-right"></span>
<span class="a-cross"></span>
<span class="f-left"></span>
<span class="f-top"></span>
<span class="o-full"></span>
<span class="r-left"></span>
<span class="r-cross"></span>
<span class="r-circle"></span>
<span class="r-diag"></span>
<span class="n-cross"></span>
<span class="e-left-1"></span>
<span class="e-left-2"></span>
<span class="e-center"></span>
<span class="e-bottom"></span>
<span class="k-left"></span>
<span class="k-top"></span>
<span class="k-bottom"></span>
</a>
    
  {% comment %}  <a class="me" id="me" href="javascript:void(0);">Me</a>   {% endcomment %}
    
</header>

{% comment %}
<section id="about" class="about">
    <a class="close-info" id="close-info">Close</a>
<p>{{ site.description | newline_to_br }}</p>
    <p class="email">Available for freelance:<br /><a href="mailto:mf@maxfronek.com?subject=Design%20Inquiry" title="Email Max Fronek" target="_blank">{{ site.email }}</a></p>
</section>
{% endcomment %}