<menu>
    
		<nav>
			<ul>
{% for page in site.pages %} {% if page.title %} {% unless page.title == 'Bio' or page.is_category_page  %}
<li class="menu-item"><a href="{{ page.url | prepend: site.baseurl | remove: ',' }}">{{ page.title }}
    </a>
    
        {% capture link_cat %}{{- page.title | downcase -}}{% endcapture %}
        {% assign category = site.categories[link_cat] %}
        {% for post in category limit: 1  %}
        {% for image in post.images limit: 1 %} 
        <div class="image-preview">
          
        {% capture path %}{{ image.img_url }}{% endcapture %}
        {% capture alt %}{% if image.title %}{{ image.title }}{% else %}{{ post.title }}{% endif %}{% endcapture %}
        
    {% if path contains 'mp4' or path contains 'webm' %}
 <video loop muted autoplay playsinline>
        <source src="/{{ path | strip_html }}" type="{% if path contains 'mp4' %}video/mp4{% else %}video/webm{% endif %}">
</video>  
    {% else %}

    <img srcset="{% include img_src.html %}" src="{% include img_srcset.html %}"  sizes="(max-width: 550px) 0vw, 40vw" />  
    
{% endif %}
            </div>
        {% endfor %}
    {% endfor %}
</li>
                
                {% endunless %}
{% endif %} {% endfor %}
                <li class="menu-item"><a href="{{ '/about' | prepend: site.baseurl }}">Bio</a><div class="image-preview">
          
        {% assign path = "/images/page_images/about.jpg"  %}
        {% capture alt %}{{ page.title }}{% endcapture %}

    <img srcset="{% include img_src.html %}" src="{% include img_srcset.html %}"  sizes="(max-width: 550px) 0vw, 40vw" /> 

            </div></li>
<li class="menu-item"><a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a>
               {% for post in site.posts limit: 1  %}
        {% for image in post.images limit: 1 %} 
        <div class="image-preview">
          
        {% capture path %}{{ image.img_url }}{% endcapture %}
        {% capture alt %}{% if image.title %}{{ image.title }}{% else %}{{ post.title }}{% endif %}{% endcapture %}
        
    {% if path contains 'mp4' or path contains 'webm' %}
 <video loop muted autoplay playsinline>
        <source src="/{{ path | strip_html }}" type="{% if path contains 'mp4' %}video/mp4{% else %}video/webm{% endif %}">
</video>  
    {% else %}

    <img srcset="{% include img_src.html %}" src="{% include img_srcset.html %}"  sizes="(max-width: 550px) 0vw, 40vw" /> 
            
{% endif %}
            </div>
        {% endfor %}
    {% endfor %}
                </li>
			</ul>
		</nav>

</menu>
