
/* oh #hamburgers */

.hamburger {
    border: none;
	position: fixed;
    z-index: 999;
	display: block;
	width: 35px;
	height: 30px;
	padding: 0;
	// top: 5.5rem;
	top: 2.5rem;
	left: 20px;
	background: transparent;
	overflow: visible;
	opacity: 1;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transition: opacity 0.2s cubic-bezier(0.86, 0, 0.07, 1);
	transition: opacity 0.2s cubic-bezier(0.86, 0, 0.07, 1);
 
    &.is-hidden,
    &.is-visible {opacity: 1; @include prefix(transition, all .2s ease-in-out, ms webskit o moz);}
    
      
    
    
    @include hocus {cursor: pointer; outline: 0px solid transparent;}
   // @include tablet {top: 3.5rem;}
    @include medium {top:  1.5rem;left: 10px; width: 25px;}
    @include small {
        &.is-visible {
        .menu-bg {background-color: #fafafa; width: 35px; height: 31px; margin-left: -8px; @include prefix(box-shadow, 1px 4px 6px 1px rgba(150,150,150,.2), webkit); @include prefix(transition, all .2s ease-in-out, ms webskit o moz);}
            
        .patty {}
        }
        &.is-hidden {opacity: 0;}
    }
    

    
    .patty {
	display: block;
	position: absolute;
	width: 80%;
	height: 2px;
	left: 0;
	top: 14px;
	background: rgba($mf-green, .5);
	opacity: 1;
	-webkit-transition: opacity 0.15s linear, -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1), background 0.2s linear;
	transition: opacity 0.15s linear, transform 0.3s cubic-bezier(0.86, 0, 0.07, 1), background 0.2s linear;
        
     
     &:nth-child(1) {
	-webkit-transform: translateY(-6px);
         transform: translateY(-6px);}
     &:nth-child(2) {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);   
        }  
     &:nth-child(3) {
	-webkit-transform: translateY(6px);
	transform: translateY(6px);}
	
    
    } // end regular patty and children 
    
    
    
    &.expand {z-index: 100;
    
        .patty {/* old 
    &:nth-child(1) {
	-webkit-transform: translateY(-9px);
	transform: translateY(-9px); }
    &:nth-child(2) {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);}
    &:nth-child(3) {
	-webkit-transform: translateY(9px);
	transform: translateY(9px); */
    &:nth-child(1) {
	-webkit-transform: scaleX(-6px) scaleX(.9);
	transform: translateY(-6px) scaleX(.9); }
    &:nth-child(2) {
	-webkit-transform: translateY(0px) scaleX(.7);
	transform: translateY(0px) scaleX(.7);}
    &:nth-child(3) {
	-webkit-transform: translateY(6px) scaleX(.5);
	transform: translateY(6px) scaleX(.5);        
            }

        } // end expanded patty and child
            
    } // end expanded hamburger
    
    &.collapse {display: block; 
    @include small {
        &.is-visible {
            .menu-bg {opacity: 0;}
        }
    }
    
        .patty {
            background: rgba($mf-green, .7);
            &:nth-child(1) {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);}
            &:nth-child(2) {
	-webkit-transform: translateY(0px);
	transform: translateY(0px), skewX(30);}
            &:nth-child(3) {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);}   
        } // end collapsed patties
        
    } // end collapse
    
    &.close {
       
        
          .patty {
            background: rgba($mf-green, .7);
            &:nth-child(1) {
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);}
            &:nth-child(2) {-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
                @include medium {opacity: 0;}
              }
            &:nth-child(3) {
	-webkit-transform: rotate(-225deg);
	transform: rotate(-225deg);}   
        } // end DMX patties
        
        &.expand {
            
            .patty {
                background: rgba($heading-font-color, .7); 
                filter: hue-rotate(-30deg) brightness(80%);
                &:nth-child(1) {
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);}
            &:nth-child(2) {-webkit-transform: rotate(135deg);
	transform: rotate(135deg);}
            &:nth-child(3) {
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);}     
            }
        } // end expand + DMX
        
    } // end DMX
	
	.playground & {

		.patty {background: rgba(white, .5);}

		&.close, &.collapse {
			.patty {background: rgba($mf-green, .7);}
		}



	
	} // end playground styles


} // end amburgesa

/* pieces of shit
html .hamburger.expand:hover .patty,
.hamburger.expand.on_press .patty {
	-webkit-transition: opacity 0.15s linear, -webkit-transform 0.15s linear;
	transition: opacity 0.15s linear, transform 0.15s linear;
}

html .hamburger.expand:hover .patty:nth-child(1),
.hamburger.expand.on_press .patty:nth-child(1) {
	-webkit-transform: translateY(-9px);
	transform: translateY(-9px);
}

html .hamburger.expand:hover .patty:nth-child(2),
.hamburger.expand.on_press .patty:nth-child(2) {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

html .hamburger.expand:hover .patty:nth-child(3),
.hamburger.expand.on_press .patty:nth-child(3) {
	-webkit-transform: translateY(9px);
	transform: translateY(9px);
}
*/

