// smooth scrolling to anchor links babyyyy
html {scroll-behavior:smooth; overflow-x: hidden;}

// resume normal scss shenanigans

body {
  margin: 0;
  color: $font-color;
  font-family: $font-style;
  background: $bg;
  font-size: 1rem;
  line-height: 1.6;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
    
    &.lock {overflow:hidden;}    
  
    
  &.bg {@include prefix (transition, all 1s ease-in-out, ms moz o webkit); } 
}


header {
  background: transparent;
  padding: 0px 15px;
  text-align: center;
  margin: 0px 0 0;
  height: 122px;    
  width: 75px;
  z-index:9;    
  position: absolute;
  top: 20px;
  left: 0;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
    
  .me {position: fixed;  bottom: 30px;right: 30px;}
    
    
    @include medium {top: unset;bottom: 0;width: 100%;height: 75px;display: block; position: inherit;
    
        .me {opacity: 0; z-index: -1; right: unset; left: 0; width: 100%; margin-left: -50px; font-size: 1.4rem; bottom: 25px;
            &.extra {opacity: 1; margin-left: 0;}
        }
    } 

    &.z-plus {z-index: 999;
        .me {z-index: 999; opacity: 1;}
    }
  
}
main {
    padding: 0 15px;
    display: grid; 
    max-width: 100%; 
    margin: 0 auto;
    width: 100%; 
    grid-template-columns: 6rem repeat(4, 1fr) 6rem; 
    margin-top: 6rem;
  //  overflow: hidden;
    min-height: 80vh;
    @include align-items(flex-start);
    @include justify-content(center);
    
    
        @include tablet {grid-template-columns: 4rem repeat(4, 1fr) 4rem; margin-top: 4rem;}
        @include medium {grid-template-columns: 2rem repeat(4, 1fr) 2rem; margin-top: 2rem;}
    
 
    &.post {max-width: 1600px;}
    &.page {}
    @include medium {width: 95%;
    padding: 0 0;}
    
   // &.embiggen {overflow: visible;}
}
time {
  color: #898989;
}
.container {
  max-width: $content-width;
  margin: 0 auto;
}

hr {margin: 2rem auto; max-width: 900px; width: 100%; border: 0px solid transparent; border-top: 1px solid darken($bg, 50%); }

article {width: 100%; grid-column: 2 / span 4;
    @include small {grid-column: 1 / -1;
        &.category {grid-column: 2 / -1;}
    }
   .post & { @include small {grid-column: 1 / -1;}}
    .page & {
        .about-image {max-width: 600px; margin: 0 auto 2rem; display: block; max-height: 300px;}
        p {
            &:first-of-type {margin-top: 2rem;}
        }
        hr {margin: 2rem auto; max-width: 900px;}
        h1, h2, h3, h4, h5, h6 {max-width: 900px; margin: 0 auto;}
        h1, h2, h3 {margin: 0 auto 2rem;}
    }
    p {}
}

.blog, .list {margin: 0 auto;}



/* Menu */

menu {
  opacity: 0;
  position: fixed;
  margin: 0;    
  top: 0;
  left: 0;
  height: 100vh;
  background: darken($light, 5%); 
  width: 100%;
  padding: 0;
  z-index: -1;
    @include prefix(transition, .2s all ease-in-out, ms moz webkit o);
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-start);
    
  border-bottom: 1px solid lighten($light, 30%);
  box-shadow: 0px 1px 1px RGBA(4, 25, 54, 0.1);
    
    @include medium {padding-left: 0;}
    
  nav {
    max-width: 800px; margin-left: 5rem;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
          position: relative;
          font-size: 4rem;
          margin-bottom:2rem;
          @include medium {font-size: 3rem;}
          
          
        a {
          text-decoration: none;
          display: block;
          padding: 15px;
          margin-left: -1rem;
          box-shadow: 0;
          @include prefix(transition, .2s all ease-in-out, ms webkit moz o);
            &:before {content: '';@include prefix(transition, .2s all ease-in-out, ms webkit moz o); opacity: 0;}
    
            
                  @include hocus {
                &:before {opacity: 1;}
    
            } 
        } // end nav ul li a

            .image-preview { position: fixed; top: 25%; right: 2rem; overflow: hidden; opacity: 0; z-index: -1; @include prefix(transition, all .2s ease-in-out, webkit moz ms o); height: 50vh;
                h3 {position: absolute; bottom: 2rem; right: 2rem; text-align: right; font-weight: 600;}
                img {max-height: none; height: 100%; width: 50vw;@include prefix(transition, all .2s ease-in-out, webkit moz ms o); @include prefix(transform, translateX(100%), webkit moz ms o); mix-blend-mode: multiply; opacity: .7;}
                &.show { opacity: 1;z-index: 2;
                    img {@include prefix(transform, translateX(0%), webkit moz ms o);}
                    @include tablet {display: none;}
                }  
                
            }
          
      }
    } // end nav ul
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  } // end nav

.menu-footer-links {position: absolute; bottom: 0; width: 100%; text-align: center; display: inherit; margin-left: 5rem;
  a {display: inline-block; width: 30px; margin-right: 3rem;
  @include hocus {opacity: .2;}
  }
}


    &.show {opacity: 1;z-index: 99;}
    
    @include medium {
        @include justify-content(center);
        nav {margin-left: 0}
    }
    
} // end menu


img {object-fit: cover; width: 100%; max-height: 500px;}
video {object-fit: cover; width: 100%; max-height: 500px;}


.about {
    opacity: 0; z-index: -1; position: fixed; background: darken($light, 5%); height: 100vh; width: 100vw; top: 0; left: 0; @include flexbox; @include align-items(center); @include justify-content(center); @include flex-direction(column); padding: 4rem; @include prefix(transition, .6s all ease-in-out, webkit ms moz o);
    &.show {opacity: 1; z-index: 6;}
    
     @include tablet {padding: 2rem}

    .close-info {position: absolute;top: 185px; right: 24px;
  @include prefix(transform, rotate(90deg),webkit moz ms o);
        @include tablet {right: 14px; top: 140;}
        @include medium {top: 40px;@include prefix(transform, rotate(0deg),webkit moz ms o); }
        
    }
    
}


.list-item {

    a {
        img {position: fixed; top: 0; right: 0; opacity: 0; width: 50%; min-height: 67vh; z-index: -1; @include prefix(transition, .2s all ease-in-out, webkit ms moz o);}
    
    @include hocus {
        img  {opacity: .3;
            @include medium {opacity: 0;}
        }
    }
}
}


// homepage intro pargraph display

.masthead {
  opacity: 1;/* background-color: $bg; */ z-index: 4; width: 85%; max-width: 800px; grid-column: 1 / -1; margin: 0 auto; height: auto; 
 @include prefix(transition, all .3s ease-in-out, ms moz o webkit);

 // &:after {content: " "; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: $link-underline-color; opacity: .3; mix-blend-mode: multiply;}
    &.hide {opacity: 0; z-index: 0;}
  h1, p {margin: 0; text-align: center;}

  h1 {font-family: $sub-heading-font; font-size: 2rem; text-transform: uppercase; letter-spacing: 1rem;}
  p {
    &:last-of-type {margin-top: 1rem;}
  }

//  @include big {top: 50%; left: 50%; @include prefix(transform, translateX(-50%) translateY(-50%), ms moz o webkit); padding: 3rem; z-index: 4;}
//  @include tablet { h1 {font-size: 2rem;} }
  @include medium {padding: 0 1rem;}

} // end homepage-info

.images {
    margin-top: -1rem;
    &.home {margin-top: 2rem; @include prefix (transition, all .5s ease-in-out, ms moz o webkit); opacity: 1;
      &.hide {opacity: 0;}
   // @include big {margin-top: 6rem;}
   // @include tablet {margin-top: 6rem;}
    }
    
    .image {
        position: relative; overflow:hidden; padding: 1rem; width: 100%;
        
        img, video {min-width: 100%; min-height: 100%; max-height: none; -webkit-border-radius: 1px; border-radius: 1px;}
        
        .mobile-title {opacity: 0; display: none; width: 100%; position: relative; bottom: 0; left: 0; margin-bottom: 1rem; color: #fff; text-align: center; @include prefix(transition, .2s all ease-in-out, ms o webkit moz); z-index: -1;
            h4 {font-weight: 200;}

        @include tablet {opacity: 1; z-index: 3; display: block;}
        }

        .content {opacity: 0; z-index: 2; @include prefix(transition, all .2s ease-in-out, webkit moz ms o); position: absolute; left: 1rem; top: 1rem; min-height: calc(100% - 2.5rem); height: calc(100% - 2.5rem); width: calc(100% - 2rem); padding: 1rem;  text-align: center;
            
            a {width: 100%; height: 100%; @include flexbox; @include justify-content(center); @include align-items(center);@include flex-direction(column); }
            
            h2 {font-family: $font-style; text-transform:uppercase; font-size: 1.6rem; font-weight: 200; letter-spacing: .3rem; margin-bottom: 0;}
            
            ul {padding: 0;
                li {display: inline; list-style: none;
                    &:before {content: "";}
                    &:after {content: " / ";}
                    &:last-of-type {&:after {content: "";}
                    }    
                }
            } // end ul
            
            
            &.show {opacity: 1;
              @include tablet {opacity: 0;}
            }
            
            
             
        }
        
        
        &:first-of-type {max-height: 700px;
        img {&:first-of-type {max-height: calc(700px - 2rem);}}
        }
        
        
           @include medium {
               grid-column: span 4; min-height: unset;
               &:first-of-type {max-height: 400px;}
               
               img, video {height: 300px;}
               
        } // end medium mq
        
    } // end .image
    
    @include medium {columns: 1;}
    
    &:before,
    &:after {content: ""; flex-basis:100%;width:0;order:2;}
    
} // end images




// full-page homepage styles

.playground {
  @include medium {overflow: hidden; max-height: 88vh;}


  .mtof {top: 1.75rem;}
  .hamburger {top: 2.5rem;}

  @include medium {
    .mtof {top: .5rem;}
    .hamburger {top: 1.5rem;}
  }

}

.index-full {margin-top: 0; padding: 0; display: flex; 

  article {width: 100%;}
  .homepage-blurb {margin-top: 2rem;}


}

.homepage-single {margin-top: 0; height: 100vh;

  .masthead {position: absolute; width: 100%; max-width: none;text-align: center;margin-top: 3rem;

        h1 {color: white; font-size: 1.2rem;}  

        @include medium {margin-top: calc(1rem + 75px);
        
          h1 {line-height: 1.4; font-size: 1rem;}

        }

      }

      @include medium {margin-top: -75px;}


}

.swiper-slide {

  .image {position: relative; height: 100vh; min-height: 600px;

    img, video {max-height: none; min-height: 100%;}


    .mobile-title {opacity: 0; display: none; width: 100%; position: relative; bottom: 0; left: 0; margin-bottom: 1rem; color: #fff; text-align: center; @include prefix(transition, .2s all ease-in-out, ms o webkit moz); z-index: -1;
      h4 {font-weight: 200;}

  @include tablet {opacity: 1; z-index: 3; display: block;}
  }
  
    .content {position: absolute; @include prefix(transition, all .2s ease-in-out, webkit moz ms o); left: 0rem; top: 0rem; min-height: calc(100% - 2rem); height: 100%; width: 100%; padding: 1rem;  text-align: center; background-image: linear-gradient(rgba(50,50,50,.25) 0%, rgba(50,50,50,.5) 33%, rgba(50,50,50,.5) 67%, rgba(50,50,50,.25) 100%);  @include flexbox; @include justify-content(center); @include align-items(center);@include flex-direction(column);
    

      a { color: white; 
      
          &.see-more {text-transform: uppercase; letter-spacing: .5rem;}

      }
            
      h2 {font-family: $sub-heading-font; text-transform:uppercase; font-size: 3rem; font-weight: 700; letter-spacing: .3rem;
        color: white; padding: .25rem 1rem 0; 
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        @include prefix(transition, .2s all ease-in-out, ms o moz webkit);
          
            @include hocus {

             -webkit-text-stroke-color: transparent; -webkit-text-fill-color: white;
      
            }

            @include medium {font-size: 2rem; }
            @include small {word-break: break-word; width: max-content; max-width: 250px;}
          

      }

      .excerpt {color: white; text-align: center;
      
        @include medium { padding: 0 2rem;}

      }

      ul {padding: 0; color: white; position: absolute; bottom: 2rem; right: 6rem; font-size: .8rem; text-align: right;
        text-orientation: sideways;writing-mode: sideways-rl;
          li {display: inline; list-style: none; margin: 0 0 1rem;
              &:before {content: " ";}
              &:after {content: "/"; margin-top: 1rem;}
              &:last-of-type {&:after {content: "";}
              }    

              a {
                @include hocus {opacity: .6;}
              }

          }

          @include tablet-up {right: 2rem; bottom: 0;}
          @include medium {display: none;}

      } // end ul

     

    
    } // end swiper-slide image content
  
  } // end swiper-slide image

} // styles for swiper on homepage (XPERIMENTAL)


// New post styles 9-2020

@keyframes scrollHelper {

0% {transform: translateY(-101%)}
40% {transform: translateY(0)}
80% {transform: translateY(101%)}
100% {transform: translateY(101%)}


}

main {
  &.post {display: flex; padding: 0 6rem; margin-top: 0;
  
    .grid .images .imagewrap {
      &:first-of-type { height: 50vh; min-height: 420px; position: relative; width: calc(100% + 12rem); margin-left: -6rem;
      img {max-height: 100vh;
      
        @media (min-width: 1601px) {
          padding: 4rem 6rem 2rem;
        } // end 1601+ mq
      
      } // end :first-of-type img
      figure {position: absolute; z-index: 2; height: 100%; width: 100%; top: 0; left: 0; background-image: linear-gradient(rgba(50,50,50,.25) 0%, rgba(50,50,50,.5) 33%, rgba(50,50,50,.5) 67%, rgba(50,50,50,.25) 100%); 
          h1, h2 { font-family: $sub-heading-font; text-transform:uppercase; font-size: 3rem; font-weight: 700; letter-spacing: .3rem;
            color: white; padding: .25rem 1rem 0;
            -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
 
            @include medium {font-size: 2.6rem; padding: 0 0.5rem;}
            @include small {font-size: 2rem; padding: 0 1rem;}

              } // end figure h2

              p {color: white;
              
                @include small {font-size: .8rem;}

              }
              .blurb {margin-bottom: 0;}
              .scroll-helper {position: absolute; width: 100%; max-width: none; bottom: 0; color: transparent; overflow: hidden;
  

                &:after {
                  content: " ";  display: block;
                  animation: all 3s ease-in-out; animation-iteration-count: infinite; animation-name: scrollHelper;
                  width: 2px; height: 100%; background-color: white; margin-left: -1px;
                  position: absolute; left: 50%; top: 0;

                }
              @include medium {font-size: 2rem;}
              }

              @media (min-width: 1601px) {
                width: calc(100% - 12rem); height: calc(100% - 6rem); top: 4rem; left: 6rem;
              } // end 1601+ mq

        } // end imagewrap figure

        @include medium {
          max-height: 45vh; height: 45vh;

          img, video {max-height: 88vh;}
          figure {max-height: 88vh;}

        }


      } // end imagewrap:first-of-type


      video.post-leader {max-height: 100vh;}

    } // end imagewrap

  
  } // end main.post

  &.about--page {
    display: flex; margin-top: 0; padding: 0;
    .about-hero {height: 100vh; position: relative; padding-top: 3rem; background-color: #e6e6e6;
    @include extra-short {min-height: 525px;}
    }
    .title, .subtitle {z-index: 2;}
    .about-image {max-height:600px; max-height: 80vh; width: 100%; max-width: 600px; object-position: top center; margin-bottom: 0; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); z-index: 1;
    @include extra-short {max-height: 400px;}
    }


    p, .contact-me {padding: 0 2rem;}
  
    @include medium {margin-top: -75px;
    
      .about-hero {padding-top: calc(3rem + 75px);}
      .about-image {max-height: 60vh;}
    
    }

    @include small {
      .about-image {max-height: 50vh;}
    }

  }




  @include medium {
      width: 100%;
    &.post {padding: 0 30px; margin-top: -75px;
    
      .grid .images .imagewrap {
        &:first-of-type { 
          width: calc(100% + 60px); margin-left: -30px;
        }
      }
    }

  }



} // end new <main> styling


// makes posts take featured background color if applicable


.overlay {
    img {opacity: .7;}
}


footer {
  text-align: center; width: 100vw; background: $grey900;
  @include flexbox; @include flex-direction(row);@include align-items(center);  @include justify-content(flex-start);  
  padding: 0.5rem;
    hr {width: 100%; position: absolute; top: unset; margin-top: -5px;z-index: -1; border: 0px solid transparent; border-top: 1px solid $heading-font-color;}
    .footer-links {/*background-color: $bg;*/ padding: 0 2rem; z-index: 1; margin: 0.75rem 0 0.5rem;
      &.photo-post-footer {background-color: transparent !important;}
    }
    a {
        &:after {content: ""; margin-right: 1rem;}
        &:last-child {&:after {content: "";margin-right: 0rem;}}
            
    img {width: 30px; @include prefix(transition, .2s all ease-in-out, ms moz webkit o); filter: invert(0.85);}
        
      @include hocus {img { opacity: .6;}}
           @include medium { img {width: 25px;} }

    @include medium {padding-bottom: 100px;
        img {width: 25px;}
    }
    
}
    
}