body {
  margin: 0;
  color: $font-color;
  font-family: $font-style;
  background: $bg;
  font-size: 1rem;
  line-height: 1.6;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}


header {
  background: transparent;
  padding: 0px 15px;
  text-align: center;
  margin: 0px 0 0;
  height: 122px;    
  width: 75px;
  z-index:9;    
  position: fixed;
  top: 20px;
  left: 0;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
    
    @include medium {top: unset;bottom: 0;width: 100%;height: 75px;display: block; position: inherit;} 
    
    .me {position: fixed;  bottom: 30px;right: 30px;}
}
main {
    padding: 0 15px;
    display: grid; 
    max-width: 100%; 
    margin: 0 auto;
    width: 100%; 
    grid-template-columns: 6rem repeat(4, 1fr) 6rem; 
    margin-top: 6rem;
  //  overflow: hidden;
    min-height: 80vh;
    @include align-items(center);
    @include justify-content(center);
    
    
        @include tablet {grid-template-columns: 4rem repeat(4, 1fr) 4rem; margin-top: 4rem;}
        @include medium {grid-template-columns: 2rem repeat(4, 1fr) 2rem; margin-top: 2rem;}
    
 
    &.post {max-width: 1600px;}
    &.page {}
    @include medium {width: 95%;
    padding: 0 0;}
    
   // &.embiggen {overflow: visible;}
}
time {
  color: #898989;
}
.container {
  max-width: $content-width;
  margin: 0 auto;
}

article {width: 100%; grid-column: 2 / span 4;}

.blog, .list {max-width: 600px; margin: 0 auto;}



/* Menu */

menu {
  opacity: 0;
  position: fixed;
  margin: 0;    
  top: 0;
  left: 0;
  height: 100vh;
  background: darken($light, 5%); 
  width: 100%;
  padding: 0;
  z-index: -1;
    @include prefix(transition, .2s all ease-in-out, ms moz webkit o);
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    
  border-bottom: 1px solid lighten($light, 30%);
  box-shadow: 0px 1px 1px RGBA(4, 25, 54, 0.1);
    
    @include medium {padding-left: 0;}
    
  nav {
    max-width: 800px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
          position: relative;
          font-size: 4rem;
          margin-bottom:2rem;
          @include medium {font-size: 3rem;}
          
          
        a {
          text-decoration: none;
          display: block;
          padding: 15px;
          margin-left: -1rem;
          box-shadow: 0;
          @include prefix(transition, .2s all ease-in-out, ms webkit moz o);
            &:before {content: '';@include prefix(transition, .2s all ease-in-out, ms webkit moz o); opacity: 0;}
            @include hocus {
                &:before {opacity: 1;}
            }    
            
        }
      }
    } // end nav ul
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  } // end nav

    &.show {opacity: 1;z-index: 8;}
    
} // end menu


img {object-fit: cover; width: 100%; max-height: 500px;}
video {object-fit: cover; width: 100%; max-height: 500px;}


.about {
    opacity: 0; z-index: -1; position: fixed; background: darken($light, 5%); height: 100vh; width: 100vw; top: 0; left: 0; @include flexbox; @include align-items(center); @include justify-content(center); @include flex-direction(column); padding: 4rem; @include prefix(transition, .6s all ease-in-out, webkit ms moz o);
    &.show {opacity: 1; z-index: 3;}
    
     @include tablet {padding: 2rem}
    
    p {font-size: 2.2rem; max-width: 800px;
        &.email {font-size: 1.2rem;}
        
        @include tablet {font-size: 2rem;}
        @include medium {font-size: 1.6rem;}
        
    }
    
    .close-info {position: absolute;top: 185px; right: 24px;
  @include prefix(transform, rotate(90deg),webkit moz ms o);}
    
}


.list-item {

    a {
        img {position: fixed; top: 0; right: 0; opacity: 0; width: 50%; min-height: 67vh; z-index: -1; @include prefix(transition, .2s all ease-in-out, webkit ms moz o);}
    
    @include hocus {
        img  {opacity: .3;
            @include medium {opacity: 0;}
        }
    }
}
}


// homepage display


.images.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr); grid-gap: 2rem;
    
    .image {min-height: 500px;position: relative; overflow:hidden;
    
        img {min-width: 100%; min-height: 100%; max-height: none;}
        .content {opacity: 0; z-index: 2; @include prefix(transition, all .2s ease-in-out, webkit moz ms o); position: absolute; left: 0; top: 0; min-height: 100%; max-height: 100%; width: 100%; padding: 1rem; @include flexbox; @include justify-content(center); @include align-items(center);@include flex-direction(column); text-align: center;
            h2 {font-family: $font-style; text-transform:uppercase; font-size: 1.6rem; font-weight: 200; letter-spacing: .3rem;}
            
            &.show {opacity: 1;}
            
            
            
        }
        
           @include medium {grid-column: span 4; min-height: unset;
               &:first-of-type {max-height: 400px;}
        }
        
    }
    
}


// makes posts take featured background color if applicable


.overlay {
    img {opacity: .7;}
}


footer {
  text-align: center;
  @include flexbox; @include flex-direction(row);@include align-items(center);  @include justify-content(center);  
  padding: 40px;
    hr {width: 100%; position: absolute; top: unset; margin-top: -5px;z-index: -1; border: 0px solid transparent; border-top: 1px solid $heading-font-color;}
    .footer-links {background-color: $bg; padding: 0 2rem; z-index: 1;}
    a {
        &:after {content: ""; margin-right: 1rem;}
        &:last-child {&:after {content: "";margin-right: 0rem;}}
            
    img {width: 30px; @include prefix(transition, .2s all ease-in-out, ms moz webkit o);}
        
      @include hocus {img { opacity: .6;}}
        
    }

    @include medium {padding-bottom: 100px;}
    
}