
// schemes & colors for feature posts 

 
$pink: #e9c2d5;
$grey: #37373d;
$powder-blue: #8eadd1;
$sage: #657e69;
$teal: #608d8f;
$dark-blue: #0f6080;
$yellow: #d3d99e;
$sand: #eceadd;
$red: #893434;
$orange: #ed7a33;
$amethyst: #b0a1e6;


$pink--dark: darken($pink, 20%);
$pink--light: lighten($pink, 10%);
$pink--background: transparentize($pink, .75);
$pink--complement: $dark-blue;

$grey--dark: darken($grey, 20%);
$grey--light: lighten($grey, 20%);
$grey--background: transparentize($grey, .9);
$grey--complement: $sage;

$powder-blue--dark: darken($powder-blue, 20%);
$powder-blue--light: lighten($powder-blue, 20%);
$powder-blue--complement: $yellow;

$sage--dark: darken($sage, 20%);
$sage--light: lighten($sage, 20%);
$sage--complement: $yellow;

$dark-blue--dark: darken($dark-blue, 20%);
$dark-blue--light: lighten($dark-blue, 20%);
$dark-blue--complement: $pink;

$teal--dark: darken($teal, 20%);
$teal--light: lighten($teal, 20%);
$teal--complement: $sage;


$red--dark: darken($red, 20%);
$red--light: lighten($red, 40%);
$red--background: transparentize($red, .75);
$red--complement: $powder-blue;


$orange--dark: darken($orange, 20%);
$orange--light: lighten($orange, 40%);
$orange--complement: $powder-blue;


$amethyst--dark: darken($amethyst, 20%);
$amethyst--light: lighten($amethyst, 40%);
$amethyst--background: transparentize($amethyst, .75);
$amethyst--complement: $powder-blue;

$blue--background: transparentize($powder-blue, .67);
$green--background: transparentize($sage, .8);




.white {background-color: $bg;
    &.footer-links {background-color: $bg;}
    &.next-post {background-color: rgba($bg, .5);}
    &.content {h1, h2, h3{color: darken($light, 30%); }ul li, time {color: darken($light, 50%);} }
}
.sand {background-color: $light;
    &.footer-links {background-color: $light;}
    &.next-post {background-color: rgba($light, .75);
    
        h3 {color: $sage--dark;
            -webkit-text-stroke-color: $sage--dark;}
        p {color: $color_content_primary_A;}

    }
    &.content {h1, h2, h3{color: darken($light, 30%); }}
}
.pink {background-color: $pink;
    h1, h1, h2, h3, h3 {color: $pink--dark !important;}
    &.content {h1, h2, h3 {color: $pink--dark}ul li, time {color: $pink--dark;} }
    .hamburger {
        .patty {background-color: $pink--dark;}
    }
    .mtof {
        span {background: $pink--dark;}
    }
    blockquote {color: $pink--dark; border-color: $pink--light;}
    p {color: darken($pink--dark, 20%);}
    &.footer-links {background-color: $pink;}
    &.next-post {background-color: rgba($pink, .75);
        h3 {color: $pink--dark;
            -webkit-text-stroke-color: $pink--dark;
        }
        p {color: $color_content_primary_A;}
    }
}
.grey {background-color: $grey--dark;
    h1, h2, h3 {color: $grey--light !important;}
    .hamburger {
        .patty {background-color: $grey--light;}
    }
    .mtof {
        span {background: $grey--light;}
    }
    blockquote {color: $grey--light; border-color: $grey--complement;}
    p {color: lighten($grey--light, 20%);}
    &.footer-links {background-color: $grey;} 
    &.next-post {background-color: rgba($grey, .75);}
}
.powder-blue {background-color: $powder-blue;
    &.footer-links {background-color: $powder-blue;} 
    &.next-post {background-color: rgba($powder-blue, .75);}
    h1, h2, h3 {color: $powder-blue--dark !important;}
    &.content {h1, h2, h3 {color: $powder-blue--dark}ul li, time {color: $powder-blue--dark;} }
    .hamburger {
        .patty {background-color: $powder-blue--dark;}
    }
    .mtof {
        span {background: $powder-blue--dark;}
    }
    blockquote {color: $powder-blue--dark; border-color: $powder-blue--complement;}
    p {color: darken($powder-blue--dark, 20%);}
}
.sage {background-color: $sage;
    &.footer-links  {background-color: $sage;}
    &.next-post {background-color: rgba($sage, .75);}
        h1, h2, h3 {color: $sage--dark !important;}
  &.content {h1, h2, h3 {color: $sage--dark}ul li, time {color: $light;} }
        .hamburger {
        .patty {background-color: $sage--dark;}
    }
    .mtof {
        span {background: $sage--dark;}
    }
    blockquote {color: $sage--dark; border-color: $sage--complement;}
    p {color: darken($sage--dark, 20%);}
    
}
.dark-blue { background-color: $dark-blue;
    &.footer-links {background-color: $dark-blue; span {color: $dark-blue--complement;}
    }
    &.next-post {background-color: rgba($dark-blue, .75);
        span {color: $color_content_primary_B;}
    }
    
      h1, h2 {color: $dark-blue--light !important;}
        h3 {color: $color_content_primary_B;}
  &.content {h1, h2, h3 {color: $dark-blue--light} ul li, time {color: $dark-blue--light;} }
           .hamburger {
        .patty {background-color: $dark-blue--light;}
    }
    .mtof {
        span {background: $dark-blue--dark;}
    }
    blockquote {color: $dark-blue--light; border-color: $dark-blue--complement;}
    p {color: lighten($dark-blue--light, 20%);}
}
.teal { background-color: $teal;
    &.footer-links {background-color: $teal;}
    &.next-post {background-color: rgba($teal, .75);}
      h1, h2, h3 {color: $teal--dark !important;}
  &.content {h1, h2, h3 {color: $teal--dark}ul li, time {color: $light;} }
           .hamburger {
        .patty {background-color: $teal--dark;}
    }
    .mtof {
        span {background: $teal--light;}
    }
    blockquote {color: $teal--dark; border-color: $teal--complement;}
    p {color: lighten($teal--dark, 20%);}
}

.red { background-color: $red;
    &.footer-links {background-color: $red; }
    &.next-post {background-color: rgba($red, .75); 
        span {color: $light;}
        p {color: $red--light;}
    }
      h1, h2, h3 {color: $red--light !important;}
  &.content {
      h1, h2, h3 {color: $red--light}
      ul li, time {color: $red--light;}    
    }
           .hamburger {
        .patty {background-color: $red--dark;}
    }
    .mtof {
        span {background: $red--light;}
    }
    blockquote {color: $red--dark; border-color: $red--complement;}
    p {color: lighten($red--dark, 20%);}
    
}


.orange { background-color: $orange;
    &.footer-links {background-color: $orange; }
    &.next-post {background-color: rgba($orange, .75); 
        span {color: $light;}
        p {color: $orange--light;}
    }
      h1, h2, h3 {color: $orange--light !important;}
  &.content {
      h1, h2, h3 {color: $orange--light}
      ul li, time {color: $orange--light;}    
    }
           .hamburger {
        .patty {background-color: $orange--dark;}
    }
    .mtof {
        span {background: $orange--light;}
    }
    blockquote {color: $orange--dark; border-color: $orange--complement;}
    p {color: lighten($orange--dark, 20%);}
    
}

.amethyst { background-color: $amethyst;
    &.footer-links {background-color: $amethyst; }
    &.next-post {background-color: rgba($amethyst, .75); 
        span {color: $light;}
        p {color: $amethyst--light;}
    }
      h1, h2, h3 {color: $amethyst--light !important;}
  &.content {
      h1, h2, h3 {color: $amethyst--light}
      ul li, time {color: $amethyst--light;}    
    }
           .hamburger {
        .patty {background-color: $amethyst--dark;}
    }
    .mtof {
        span {background: $amethyst--light;}
    }
    blockquote {color: $amethyst--dark; border-color: $amethyst--complement;}
    p {color: lighten($amethyst--dark, 20%);}
    
}


aside {h1, h2, h3 {&.title {
            &.white { 
                h1, h2, h3{color: darken($light, 30%); }
            } // end white
            &.pink {
                h1, h2, h3{color: $pink--dark;}
            }
            &.grey {
                   h1, h2, h3{color: $grey--light;}
            }
            &.powder-blue {
                   h1, h2, h3{color: $powder-blue--dark;}
            }
            &.sage {
                   h1, h2, h3{color: $sage--dark;}
            }
            &.dark-blue {
                     h1, h2, h3{color: $powder-blue;}
            }
        }}}

  .bg {

    &--red {background-color: $red--background;}
    &--blue {background-color: $blue--background;}
    &--green {background-color: $green--background;}
    &--grey {background-color: $grey--background;}
    &--pink {background-color: $pink--background;}
    &--amethyst {background-color: $amethyst--background;}



    &--white {background-color: #fff;}

  }      

// shadow colors for playground homepage
  .index-full {


    .content {

        h2 { 

            &.powder-blue--text {  @include prefix(box-shadow, $homepage-title-link-unhover rgba($powder-blue, .3) inset, webkit);
                @include hocus {@include prefix(box-shadow, $homepage-title-link-hover rgba($powder-blue, 1) inset, webkit);}
            }
        
            &.pink--text {  @include prefix(box-shadow, $homepage-title-link-unhover rgba($pink, .3) inset, webkit);
                @include hocus {@include prefix(box-shadow, $homepage-title-link-hover rgba($pink, 1) inset, webkit);}
            }
        
            &.grey--text {  @include prefix(box-shadow, $homepage-title-link-unhover rgba($grey, .3) inset, webkit);
                @include hocus {@include prefix(box-shadow, $homepage-title-link-hover rgba($grey, 1) inset, webkit);}
            }
        
            &.sage--text {  @include prefix(box-shadow, $homepage-title-link-unhover rgba($sage, .3) inset, webkit);
                @include hocus {@include prefix(box-shadow, $homepage-title-link-hover rgba($sage, 1) inset, webkit);}
            }
        
            &.teal--text {  @include prefix(box-shadow, $homepage-title-link-unhover rgba($teal, .3) inset, webkit);
                @include hocus {@include prefix(box-shadow, $homepage-title-link-hover rgba($teal, 1) inset, webkit);}
            }
            &.dark-blue--text {  @include prefix(box-shadow, $homepage-title-link-unhover rgba($dark-blue, .3) inset, webkit);
                @include hocus {@include prefix(box-shadow, $homepage-title-link-hover rgba($dark-blue, 1) inset, webkit);}
            }
            &.yellow--text {  @include prefix(box-shadow, $homepage-title-link-unhover rgba($yellow, .3) inset, webkit);
                @include hocus {@include prefix(box-shadow, $homepage-title-link-hover rgba($yellow, 1) inset, webkit);}
            }
            &.sand--text {  @include prefix(box-shadow, $homepage-title-link-unhover rgba($sand, .3) inset, webkit);
                @include hocus {@include prefix(box-shadow, $homepage-title-link-hover rgba($sand, .8) inset, webkit);}
            }
            &.red--text {  @include prefix(box-shadow, $homepage-title-link-unhover rgba($red, .3) inset, webkit);
                @include hocus {@include prefix(box-shadow, $homepage-title-link-hover rgba($red, 1) inset, webkit);}
            }
            &.orange--text {  @include prefix(box-shadow, $homepage-title-link-unhover rgba($orange, .3) inset, webkit);
                @include hocus {@include prefix(box-shadow, $homepage-title-link-hover rgba($orange, 1) inset, webkit);}
            }
            &.amethyst--text {  @include prefix(box-shadow, $homepage-title-link-unhover rgba($amethyst, .3) inset, webkit);
                @include hocus {@include prefix(box-shadow, $homepage-title-link-hover rgba($amethyst, 1) inset, webkit);}
            }

        } 
  
        }

    }


