.grid {
    display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;
        
    figure, .post-heading {@include flexbox; @include justify-content(center); @include flex-direction(column); z-index:2; margin: 0; grid-column: span 4;
        h2 {margin-bottom: 2rem; text-transform: capitalize;}
        p, time {text-align: center; width: 80%; margin: 0rem auto 4rem; text-transform: capitalize;}
    }
    .images {grid-column: span 4; position: relative; display: grid; grid-template-columns: repeat(12, 1fr); grid-template-rows: auto; grid-gap: 2rem;
        > * {margin:0 auto; grid-column: 1 / -1; z-index: 4; padding: .5rem;}
        &:first-child {z-index: initial;}

        
        .videoWrapper {position: relative;padding-bottom: 56.25%; /* 16:9 */padding-top: 25px;height: 0;width: 75%;margin: 0 auto;overflow: hidden;
    
        iframe, object {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

            @include tablet {width: 100%;}
    
        } // end videoWrapper

        
        blockquote, p, h3 {grid-column: span 12;scroll-snap-type: y mandatory;}
        blockquote {
            &.quote-only {
            margin: 2rem auto; max-width: 900px;
            &.right {margin-left: 30%}

        @include medium {max-width: 100%;
            &.right {margin-left: 0%}
        }
            }
        }
        .heading {margin-top: 4rem;}
            .imagewrap {position: relative; scroll-snap-align: start; overflow: hidden;z-index: 1; width: 100%; padding: 0; height: 100%;
                
                        &.left { img {object-position: 25%% 50%;} }
                        &.right {  img {object-position: 75% 50%;} }
                        
               
                
                &.full {grid-column: span 12;}
                &.threequarters {grid-column: span 9;
                    &.offset {grid-column: 4 / span 9;}
                }
                &.half {grid-column: span 6;
                    &.offset {grid-column: 7 / span 6;}
                }
                &.onequarter {grid-column: span 3;
                    &.offset {grid-column: 10 / span 3;}
                }
                &.twothirds {grid-column: span 8;
                    &.offset {grid-column: 5 / span 8;}
                }
                &.onethird {grid-column: span 4;
                    &.offset {grid-column: 11 / span 4;}
                }
   
                
                &.embiggen {overflow: scroll;}
                
                .expand {
                    &:after {content: " ";  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAQAAABu4E3oAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfjBQUDNy10pP7WAAAA8ElEQVQ4y83Uz0sCQRQA4G91EzND10qCWCIiCIKwg9AvukoF+X9Hh+hQFHiIKEI6lApdzO0iHYpyvPVOc5hv3rw3j4mExIyGRGak6jEfRPjw5kWsqRxGMgOvijZdkQvMwoo9l+5FoSTVdOFBJIqDwKod554w1A8Ba9qWx+u80mSwrq0eXDE2nFmcBixoqU0DKChOB/5dxP584J9jOWvfu8Hv5PuMlRzp64ZfqexYQzRpW+Er07wT2yEn744nqOLUVlh3EgUkDnTchJHMSOLQrbuwgmOZJalrndAe5VS1dPXU1cJ+grzEnEwqVfFsOJl8ApPxKVa3FH1WAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTA1LTA1VDAzOjU1OjQwKzAwOjAwPj9IkQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOS0wNS0wNVQwMzo1NTo0MCswMDowME9i8C0AAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAAElFTkSuQmCC); background-repeat: no-repeat;opacity: 0; padding: 1rem 2rem; text-align: center; width: 25px; height: 25px; position: absolute; bottom: 1rem; left: 1rem; @include prefix(transition, .2s all ease-in-out, ms moz webkit o);}
                    
                    &.invert {&:after{filter: invert(100%);}}
                    
                    @include hocus {
                        cursor: zoom-in;
                        &:after {opacity: 1;}
                    }
                }
                
                video, img {height: 100%; width: 100%; max-height: none;
                    &.post-leader {max-height: 500px;}
                
                }

                .lazyload{object-fit: scale-down;}
                .lazyloaded {object-fit: cover;
                &[src*="mf-img-preloader.gif"] {object-fit: scale-down;}
                }
                
        }
        .gallery-item { object-fit: cover;height: 500px;z-index: 1;
        &.lazyload, &[src*="mf-img-preloader.gif"] {object-fit: scale-down;}
            
        } // end gallery item
        .caption {position: absolute; opacity: 0; transition-delay: 1.3s; z-index: -1; @include prefix(transition, .6s ease-in-out, webkit ms o moz); background-color: rgba($bg, .7);padding: 1rem; top: 10%; right: 0;
            &.reveal {opacity: 1; z-index: 4;}
        }
        
        
        aside { 
            
            float: left;font-weight: bold;margin: 1rem 0 1rem -2rem;width: 100%;
            
            &:first-of-type {width: 60%;
            
            @include huge {width: 60%;}
            @include tablet {width: 60%;}
            @include medium {width: 100%; margin: 0rem 0 2rem;}
            
            }
            
            &.right {float: right; margin: 1rem -2rem 1rem 0;}
            &.full {float: none; margin: 2rem auto; width: 100%; max-width: 1200px;}
            
        }
        
    } // end images
    
    .end-matter { grid-column: 1 / -1;
         ul {
            li {display: inline; margin-right: 1rem;
                a {}
             }
        }
    }
    
    
    @include medium {
  
        figure {position: relative;height: auto;max-width: 100%; grid-column: span 4; 
            h2 {}
        }
        .images {grid-column: span 4; grid-gap: 1rem;
        blockquote, p, h3 {
                &.uno,
                &.dos,
                &.tres,
                &.cuatro {grid-column: span 4;}
        } // end text style 
            .imagewrap {position: relative; scroll-snap-align: start; overflow: hidden;z-index: 1; width: 100%; 
                &.uno,
                &.dos,
                &.tres,
                &.cuatro {grid-column: span 4;}
                
                &.full,
                &.threequarters,
                &.half,
                &.onequarter,
                &.twothirds,
                &.onethird {grid-column: span 12;
                    &.offset {grid-column: span 12;}
                }
                
                img {height: 100%;}
                
                .gallery-item {
                    &.embiggen {max-height: 600px;height: auto;width: 200%;margin-left: 0%;}
                }
                
                .caption {
                    &.reveal {opacity: 0; z-index: -1;}
                }
                
            }// end imagewrap style
        } // end .images
     
    } // end medium media query
   
    .overlay & {
        .images {
            
        > * {background-color: transparent;}
        
        }
    }
    
} //end grid class



.chapter-markers {

    position: fixed; left: 0; top: 0px; width: 100%;z-index: 9;

    .progress-container {
    height: 4px;
    width: 100%;
    background: rgba(50,50,50,.25);
  }
  

  .progress-bar {
    height: 4px;
    background: $powder-blue;
    width: 0%;
  }

}


.next-post {width: 100%;background-color: #FAE9FA;min-height: 200px;position: absolute;left: 0;margin-top: 10rem; z-index: 9;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center); @include flex-direction(column);
    span {opacity: .3;}
    h3, p { text-align: center;margin: 0;text-indent: 0;}
    
    h3 {margin: 1rem auto; font-size: 2rem;}
    p {margin: 0; font-size: 1rem;}
    
    @include medium {
        p {display: none;}
    }
    
}


