.grid {
    display: grid; grid-template-columns: 1fr 2fr 1fr;
        
    aside {position: fixed;@include flexbox; @include justify-content(center); height: 100vh; @include flex-direction(column); z-index:2; max-width: 25%;}
    .images {grid-column: 2 / span 2; position: relative; display: grid; grid-template-columns: 25% 1fr 25%; grid-template-rows: auto;
        > * {margin-bottom: 2rem; grid-column: 1 / -1; background-color: $bg; z-index: 4; padding: .5rem;}
        &:first-child {z-index: initial;}
        blockquote {padding-left: 2rem;}
        blockquote, p, h3 {
                &.uno {grid-column: span 4;}
                &.dos {grid-column: span 2;}
                &.tres {grid-column: 2 / 4;}
                &.cuatro {grid-column: 2 / span 3;}
        }
        scroll-snap-type: y mandatory;
            .imagewrap {position: relative; scroll-snap-align: start; overflow: hidden;z-index: 1; width: 100%; 
                
                        &.left { img {object-position: 25%% 50%;} }
                        &.right {  img {object-position: 75% 50%;} }
                        
               
                
                &.uno {grid-column: span 4;}
                &.dos {grid-column: 2 / 4;}
                &.tres {grid-column: 1 / span 2;
                    &.embiggen { }
                    }
                &.cuatro {grid-column: 1 / span 2;}
   
        }
            .gallery-item { object-fit: cover;height: 500px;
                @include prefix(transition, all .5s linear, webkit moz ms o);z-index: 1;
                &.embiggen { height: 100vh; max-height: 100vh; z-index: 4;@include prefix(transition, all .5s linear, webkit moz ms o);
                 /*   &.dos {width: 133%;}
                    &.tres {width: 133%;}
                    &.cuatro {width: 133%;} */
                }
        } // end gallery item
        .caption {position: absolute; opacity: 0; transition-delay: 1.3s; z-index: -1; @include prefix(transition, .6s ease-in-out, webkit ms o moz); background-color: rgba($bg, .7);padding: 1rem; top: 10%; right: 0;
            &.reveal {opacity: 1; z-index: 4;}
        }
    }
    
    @include medium {
  
        aside {position: relative;height: auto;max-width: 100%; grid-column: span 3;
            h2 {text-indent: 50%;margin-left: 50%;
  @include prefix(transform, translateX(-100%), ms moz webkit o);}
        }
        .images {grid-column: span 3;
        blockquote, p, h3 {
                &.uno,
                &.dos,
                &.tres,
                &.cuatro {grid-column: span 4;}
        } // end text style 
            .imagewrap {position: relative; scroll-snap-align: start; overflow: hidden;z-index: 1; width: 100%; 
                &.uno,
                &.dos,
                &.tres,
                &.cuatro {grid-column: span 4;}
            }// end imagewrap style
        } // end .images
     
    } // end medium media query
   
    .overlay & {
        .images {
            
        > * {background-color: transparent;}
        
        }
    }
    
} //end grid class
