.grid {
    display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;
        
    aside {@include flexbox; @include justify-content(center); @include flex-direction(column); z-index:2; margin: 0; grid-column: span 4;
        h2 {margin-bottom: 2rem;}
        p {text-align: center;}
    }
    .images {grid-column: span 4; position: relative; display: grid; grid-template-columns: repeat(12, 1fr); grid-template-rows: auto; grid-gap: 2rem;
        > * {margin:0 auto; grid-column: 1 / -1; z-index: 4; padding: .5rem;}
        &:first-child {z-index: initial;}
        blockquote {padding-left: 2rem;}
        blockquote, p, h3 {grid-column: span 12;scroll-snap-type: y mandatory;}
            .imagewrap {position: relative; scroll-snap-align: start; overflow: hidden;z-index: 1; width: 100%; padding: 0;
                
                        &.left { img {object-position: 25%% 50%;} }
                        &.right {  img {object-position: 75% 50%;} }
                        
               
                
                &.full {grid-column: span 12;}
                &.threequarters {grid-column: span 9;}
                &.half {grid-column: span 6;}
                &.onequarter {grid-column: span 3;
                    &.embiggen { }
                    }
                &.twothirds {grid-column: span 8;}
                &.onethird {grid-column: span 4;}
   
        }
            .gallery-item { object-fit: cover;height: 500px;
                @include prefix(transition, all .5s linear, webkit moz ms o);z-index: 1;
                &.embiggen { height: 100vh; max-height: 100vh; z-index: 4;@include prefix(transition, all .5s linear, webkit moz ms o);
                 /*   &.dos {width: 133%;}
                    &.tres {width: 133%;}
                    &.cuatro {width: 133%;} */
                }
        } // end gallery item
        .caption {position: absolute; opacity: 0; transition-delay: 1.3s; z-index: -1; @include prefix(transition, .6s ease-in-out, webkit ms o moz); background-color: rgba($bg, .7);padding: 1rem; top: 10%; right: 0;
            &.reveal {opacity: 1; z-index: 4;}
        }
    } // end images
    
    .end-matter {
         ul {
            li {display: inline; margin-right: 1rem;}
        }
    }
    
    
    @include medium {
  
        aside {position: relative;height: auto;max-width: 100%; grid-column: span 3; display: none;
            h2 {}
        }
        .images {grid-column: span 3;
        blockquote, p, h3 {
                &.uno,
                &.dos,
                &.tres,
                &.cuatro {grid-column: span 4;}
        } // end text style 
            .imagewrap {position: relative; scroll-snap-align: start; overflow: hidden;z-index: 1; width: 100%; 
                &.uno,
                &.dos,
                &.tres,
                &.cuatro {grid-column: span 4;}
                
                img {height: auto;}
                
                .gallery-item {
                    &.embiggen {max-height: 600px;height: auto;width: 200%;margin-left: -50%;}
                }
                
                .caption {
                    &.reveal {opacity: 0; z-index: -1;}
                }
                
            }// end imagewrap style
        } // end .images
     
    } // end medium media query
   
    .overlay & {
        .images {
            
        > * {background-color: transparent;}
        
        }
    }
    
} //end grid class
