
// schemes & colors for feature posts 

 
$pink: #e9c2d5;
$grey: #37373d;
$powder-blue: #8eadd1;
$sage: #657e69;
$teal: #608d8f;
$dark-blue: #0f6080;
$yellow: #d3d99e;
$sand: #eceadd;
$red: #893434;
$orange: #ed7a33;

$pink--dark: darken($pink, 20%);
$pink--light: lighten($pink, 10%);
$pink--complement: $dark-blue;

$grey--dark: darken($grey, 20%);
$grey--light: lighten($grey, 20%);
$grey--complement: $sage;

$powder-blue--dark: darken($powder-blue, 20%);
$powder-blue--light: lighten($powder-blue, 20%);
$powder-blue--complement: $yellow;

$sage--dark: darken($sage, 20%);
$sage--light: lighten($sage, 20%);
$sage--complement: $yellow;

$dark-blue--dark: darken($dark-blue, 20%);
$dark-blue--light: lighten($dark-blue, 20%);
$dark-blue--complement: $pink;

$teal--dark: darken($teal, 20%);
$teal--light: lighten($teal, 20%);
$teal--complement: $sage;


$red--dark: darken($red, 20%);
$red--light: lighten($red, 40%);
$red--complement: $powder-blue;


$orange--dark: darken($orange, 20%);
$orange--light: lighten($orange, 40%);
$orange--complement: $powder-blue;


.white {background-color: $bg;
    &.footer-links, &.next-post {background-color: $bg;}
    &.content {h1, h2, h3{color: darken($light, 30%); }ul li, time {color: darken($light, 50%);} }
}
.sand {background-color: $light;
    &.footer-links, &.next-post {background-color: $light;}
    &.content {h1, h2, h3{color: darken($light, 30%); }}
}
.pink {background-color: $pink;
    h1, h1, h2, h3, h3 {color: $pink--dark !important;}
    &.content {h1, h2, h3 {color: $pink--dark}ul li, time {color: $pink--dark;} }
    .hamburger {
        .patty {background-color: $pink--dark;}
    }
    .mtof {
        span {background: $pink--dark;}
    }
    blockquote {color: $pink--dark; border-color: $pink--light;}
    p {color: darken($pink--dark, 20%);}
    &.footer-links, &.next-post {background-color: $pink;}
}
.grey {background-color: $grey--dark;
    h1, h2, h3 {color: $grey--light !important;}
    .hamburger {
        .patty {background-color: $grey--light;}
    }
    .mtof {
        span {background: $grey--light;}
    }
    blockquote {color: $grey--light; border-color: $grey--complement;}
    p {color: lighten($grey--light, 20%);}
    &.footer-links, &.next-post {background-color: $pink;}
}
.powder-blue {background-color: $powder-blue;
    &.footer-links, &.next-post {background-color: $powder-blue;}
    h1, h2, h3 {color: $powder-blue--dark !important;}
    &.content {h1, h2, h3 {color: $powder-blue--dark}ul li, time {color: $powder-blue--dark;} }
    .hamburger {
        .patty {background-color: $powder-blue--dark;}
    }
    .mtof {
        span {background: $powder-blue--dark;}
    }
    blockquote {color: $powder-blue--dark; border-color: $powder-blue--complement;}
    p {color: darken($powder-blue--dark, 20%);}
}
.sage {background-color: $sage;
    &.footer-links, &.next-post {background-color: $sage;}
        h1, h2, h3 {color: $sage--dark !important;}
  &.content {h1, h2, h3 {color: $sage--dark}ul li, time {color: $light;} }
        .hamburger {
        .patty {background-color: $sage--dark;}
    }
    .mtof {
        span {background: $sage--dark;}
    }
    blockquote {color: $sage--dark; border-color: $sage--complement;}
    p {color: darken($sage--dark, 20%);}
    
}
.dark-blue { background-color: $dark-blue;
    &.footer-links, &.next-post {background-color: $dark-blue;
        span {color: $dark-blue--complement;}
    }
    
      h1, h2, h3 {color: $dark-blue--light !important;}
  &.content {h1, h2, h3 {color: $dark-blue--light} ul li, time {color: $dark-blue--light;} }
           .hamburger {
        .patty {background-color: $dark-blue--light;}
    }
    .mtof {
        span {background: $dark-blue--dark;}
    }
    blockquote {color: $dark-blue--light; border-color: $dark-blue--complement;}
    p {color: lighten($dark-blue--light, 20%);}
}
.teal { background-color: $teal;
    &.footer-links, &.next-post {background-color: $teal;}
      h1, h2, h3 {color: $teal--dark !important;}
  &.content {h1, h2, h3 {color: $teal--dark}ul li, time {color: $light;} }
           .hamburger {
        .patty {background-color: $teal--dark;}
    }
    .mtof {
        span {background: $teal--light;}
    }
    blockquote {color: $teal--dark; border-color: $teal--complement;}
    p {color: lighten($teal--dark, 20%);}
}

.red { background-color: $red;
    &.footer-links, &.next-post {background-color: $red; 
        span {color: $light;}
        p {color: $red--light;}
    }
      h1, h2, h3 {color: $red--light !important;}
  &.content {
      h1, h2, h3 {color: $red--light}
      ul li, time {color: $red--light;}    
    }
           .hamburger {
        .patty {background-color: $red--dark;}
    }
    .mtof {
        span {background: $red--light;}
    }
    blockquote {color: $red--dark; border-color: $red--complement;}
    p {color: lighten($red--dark, 20%);}
    
}


.orange { background-color: $orange;
    &.footer-links, &.next-post {background-color: $orange; 
        span {color: $light;}
        p {color: $orange--light;}
    }
      h1, h2, h3 {color: $orange--light !important;}
  &.content {
      h1, h2, h3 {color: $orange--light}
      ul li, time {color: $orange--light;}    
    }
           .hamburger {
        .patty {background-color: $orange--dark;}
    }
    .mtof {
        span {background: $orange--light;}
    }
    blockquote {color: $orange--dark; border-color: $orange--complement;}
    p {color: lighten($orange--dark, 20%);}
    
}


aside {h1, h2, h3 {&.title {
            &.white { 
                h1, h2, h3{color: darken($light, 30%); }
            } // end white
            &.pink {
                h1, h2, h3{color: $pink--dark;}
            }
            &.grey {
                   h1, h2, h3{color: $grey--light;}
            }
            &.powder-blue {
                   h1, h2, h3{color: $powder-blue--dark;}
            }
            &.sage {
                   h1, h2, h3{color: $sage--dark;}
            }
            &.dark-blue {
                     h1, h2, h3{color: $powder-blue;}
            }
        }}}