html {font-size: 100%;}

body {}

*::selection {
    color: $bg;
    background: $mf-green;
  }

  *::-moz-selection {

  }

a {
  color: $link-color;
  text-decoration: none;
  font-weight: inherit;
    @include prefix(transition, .2s all ease-in-out, webkit ms moz o);
    
    @include hocus {cursor: pointer;}
    
    &.me {font-weight: 600; font-size: 1.2rem; letter-spacing: .05rem; font-family: $sub-heading-font;@include prefix(transition, .2s all ease-in-out, webkit moz ms o);
        &:before {opacity: 0; @include prefix(transition, .5s opacity ease-in-out, webkit moz ms o); content: "About ";}
        &.extra { z-index: 7;
            &:before {opacity: 1;}}
        &:hover,
        &:active {color: $heading-font-color;}

        @include medium {font-size: .9rem;}
    }
}


body, div, p, ul, ol {font-family: $main-font; font-size: 1rem; letter-spacing: .02rem; font-weight: 300; margin: 0 auto 2rem; 

    @include huge {font-size: 1.2rem; letter-spacing: 0.025rem;}
    @include tablet {font-size: 0.875rem; letter-spacing: 0.0175rem;}

}
p, ul, ol {max-width: 900px;}
p {
    &.left {margin: 0 0 2rem;}

    a {text-decoration: none; @include prefix(box-shadow, 0px -10px 0px rgba($link-underline-color, .3) inset, webkit);
        @include hocus {@include prefix(box-shadow, 0px -30px 0px rgba($link-underline-color, .3) inset, webkit);}
    }
}

// basic list style settings
ul {
    list-style: none;
    li {margin-bottom: 1rem; position: relative;
    &::before {content: "—"; position: absolute; left: -2rem;}
    }

}


code {  
    background-color: darken($light, 20%);padding: .5rem;
}

h1, h2, h3 {
  font-family: $heading-font;
  font-weight: 400;
  color: $font-color;
  line-height: 1.1;  
  text-transform: capitalize;
   a {color: $link-color; @include prefix(box-shadow, 0px -10px 0px rgba($link-underline-color, .3) inset, webkit);
        @include hocus {@include prefix(box-shadow, 0px -30px 0px rgba($link-underline-color, .3) inset, webkit);}}
}

h4, h5, h6 {font-family: $font-style; color: $mid; margin: 0;   
    a { color: $mid; @include prefix(box-shadow, 0px -10px 0px rgba($link-underline-color, .3) inset, webkit);
        @include hocus {@include prefix(box-shadow, 0px -30px 0px rgba($link-underline-color, .3) inset, webkit);}}}

h1 { font-size: 4rem;
    &.title {margin: -2rem auto 4rem; text-align: center;
        @include medium {font-size: 4.85rem;}
    }
    &.category-title {position: fixed;left: 30px; margin: 0;
  writing-mode: vertical-lr; text-orientation: sideways; top: 0;text-transform: uppercase;letter-spacing: .5rem;font-size: 1rem; height: 100vh;@include flexbox; @include align-items(center); @include justify-content(center); @include prefix(transform, rotate(180deg), webkit ms moz o);
        @include medium {left: 15px;}
    }
}

h2 {font-size: 3rem;
    &.title {font-family: $main-font; font-weight: 200; margin: -.9rem 0 0; font-weight: 200; @include flexbox; @include justify-content(center); 
        @include small {}
        aside & {font-size:2.6rem; color: $mf-green;}
    }
}
h3 {font-size: 2rem; line-height: 1.6; }
h4 {font-size: 1.2rem; text-transform: uppercase; letter-spacing: .35rem; font-weight: 700;}
h5 {font-size: 1.2rem; text-transform: uppercase; letter-spacing: .25rem; font-weight: 300;}
h6 {font-size: 1rem; font-weight: 700;}

blockquote {font-family: $sub-heading-font;font-size: 1.4rem; text-align: left; margin: 0; padding-right: 2rem; font-weight: 400; letter-spacing: 0.0375rem; line-height: 1.3; text-transform: lowercase;
    
    a {text-decoration: none; @include prefix(box-shadow, 0px -20px 0px rgba($link-underline-color, .3) inset, webkit);
        @include hocus {@include prefix(box-shadow, 0px -40px 0px rgba($link-underline-color, .3) inset, webkit);}
    }
    @include huge {font-size: 1.8rem;}
    @include tablet {font-size: 1.6rem;}
}

strong, b {font-weight: 600;}
em, i {font-style: italic;}

code {max-width: 900px; display: inline-block; overflow: scroll; background-color: #e6e6e6;

    @include medium {max-width: 300px;}
}


.heading {font-family: $sub-heading-font;padding: 2rem 0; margin-left: 0; font-size: 1.4rem; font-weight: 200; letter-spacing: .9rem; text-transform: uppercase; border-top: 1px solid $heading-font-color;
    @include medium {font-size: 1.2rem;padding: .5rem 0; }
    }

.about {
    p { font-size: 1.8rem; max-width: 800px;
        &.email {text-align: center; font-size: 1.2rem;}
        @include tablet {font-size: 1.6rem; max-width: calc(100% - 6rem);}
               
        @include short {font-size: 1.4rem;}
        
        @include medium {font-size: 1.2rem; max-width: 100%;
            @include short {font-size: 1rem;}
        }
 
    }
}
.close-info {font-family: $sub-heading-font;font-weight: 600;font-size: 1.2rem;letter-spacing: .05rem;
    @include hocus {color: $heading-font-color;filter: hue-rotate(-30deg) brightness(80%);opacity: .7;}
    @include tablet {font-size: 1rem;}
}

figure {
    h2 {text-align: center;}
    p {font-family: $sub-heading-font; letter-spacing: .1rem; font-weight: 200;
    
        @include medium {font-size: 1rem; text-align: center;font-weight: 400; opacity: .5;}    
        
    }
}

.next-post {
    span {font-family: $sub-heading-font; letter-spacing: .1rem; font-weight: 600; text-transform: uppercase;}
    p {font-family: $sub-heading-font; letter-spacing: .1rem; font-weight: 200; text-transform: capitalize;
        @include medium {font-size: 1rem;font-weight: 400; opacity: .5;}    
        
    }
}

    
    .end-matter {
         ul {
            li { text-transform: uppercase; letter-spacing: .035rem;
                &::before {content: "";}
                a {@include prefix(box-shadow, 0px -10px 0px rgba($link-underline-color, .3) inset, webkit);
        @include hocus {@include prefix(box-shadow, 0px -30px 0px rgba($link-underline-color, .3) inset, webkit);}
    }
             } // end end-matter ul li
        } // end end-matter ul
    } // end end-matter

menu {
    nav {
        ul {
            li {
                &::before {content: "";}
                a {font-family: $sub-heading-font;color: $mf-green; text-transform: uppercase; letter-spacing: .5rem; font-size: 1.6rem; background-image: linear-gradient(to right, $heading-font-color 50%, transparent 50%); background-size: 201% 1px; background-repeat: no-repeat; background-position: right top; font-weight: 200;
                    @include hocus {color: $heading-font-color; background-position: left top;}
                    @include medium {font-size: 1.1rem;}
                }
            }
        }
    }
}

.subtitle {text-align: center; max-width: 900px; padding: 0 2rem; margin: 0 auto;}


.text-link {}