html {font-size: 100%;}

body {}


a {
  color: $link-color;
  text-decoration: none;
  font-weight: initial;
    @include prefix(transition, .2s all ease-in-out, webkit ms moz o);
    
}


p {font-family: $font-style; font-size: 1.2rem; letter-spacing: .07rem; font-weight: 300; margin: 0 0 2rem;

    a {text-decoration: none; @include prefix(box-shadow, 0px -5px 0px $link-hover-color inset, webkit);
        @include hocus {@include prefix(box-shadow, 0px -30px 0px $link-hover-color inset, webkit);}
    }
}

code {  
    background-color: darken($light, 20%);padding: .5rem;
}

h1, h2, h3 {
  font-family: $heading-font;
  font-weight: 600;
  color: $heading-font-color;
  line-height: 1.1;  
   a {color: $link-color; @include prefix(box-shadow, 0px -1px 0px $link-hover-color inset, webkit);
        @include hocus {@include prefix(box-shadow, 0px -30px 0px $link-hover-color inset, webkit);}}
}

h4, h5, h6 {font-family: $font-style; color: $mid; margin: 0;   
    a { color: $mid; @include prefix(box-shadow, 0px -1px 0px $link-hover-color inset, webkit);
        @include hocus {@include prefix(box-shadow, 0px -30px 0px $link-hover-color inset, webkit);}}}

h1 { font-size: 6.85rem;
    &.title {margin-bottom: 0;text-indent: -9.8rem;margin-left: 9.8rem; line-height: .9;}
}

h2 {font-size: 4rem;
    &.title {margin-bottom: 2rem;text-indent: -5rem;margin-left: 10rem; @include flexbox; @include justify-content(flex-start);
        @include big {margin-left: 5rem;}
        
        aside & {max-width: 25%;}
    }
}
h3 {font-size: 2.6rem; text-indent: -3.6rem;margin-left: 3.6rem; }
h4 {font-size: 1.2rem; text-transform: uppercase; letter-spacing: .35rem; font-weight: 700;}
h5 {font-size: 1.2rem; text-transform: uppercase; letter-spacing: .25rem; font-weight: 300;}
h6 {font-size: 1rem; font-weight: 700;}




menu {
    nav {
        ul {
            li {
                a { font-family: $heading-font;color: $heading-font-color;
                    @include hocus {color: $light;}
                }
            }
        }
    }
}


