<!DOCTYPE html>
<html>
  {% include head.html %}

  <body class="bg "  {% comment %}Removing feature color for now cause I dont want it interfering with anything fun in the JS {% if page.is_post and post.feature_color %}style="background-color: #{{ post.feature_color }}"{% endif %}{% endcomment %}>
    {% include header.html %}
    {% include menu.html %}
    <main class="{% if page.is_post %}post{% elsif page.is_page and page.url != '/' %}page{% elsif page.url == '/' %}index{% else %}no-class{% endif %}">

      {% if page.url == '/' %}
      <section class="homepage-info" id="homepage-info">
                  <h1 class="homepage-title">Max Fronek</h1>
                  <p>Design / Photography</p>
      </section>
      {% endif %}

      <article {% if page.url == '/blog/' %}class="blog"{% elsif page.url == '/photography/' or page.url == '/design/' or page.url contains '/category/' %}class="category"{% endif %}>
        {{ content }}
      </article>

    </main>
      
            {% include footer.html %}

  </body> 
          
<script type="text/javascript" src="/scripts/mf.js"></script>
    
{% if page.url == '/' or page.url == '/photography/' or page.url == '/design/' or page.url == '/blog/' %}
    <script>
    var macy = Macy({ 
        container: "#masonry",
        waitForImages: true,
        columns: 2,
    breakAt: {
        768: {
          columns: 1
    }
  }
    });

macy.on(macy.constants.EVENT_IMAGE_COMPLETE, function (ctx) {
 // console.log('all images have loaded, reinialize macy');
    setTimeout(function(){macy.reInit();}, 500);

});
    </script>
{% endif %}
</html>