<!DOCTYPE html>
<html>
  {% include head.html %}

  <body {% if page.is_post and post.feature_color %}style="background-color: #{{ post.feature_color }}"{% endif %}>
    {% include header.html %}
    {% include menu.html %}
    <main class="{% if page.is_post %}post{% elsif page.is_page and page.url != '/' %}page{% elsif page.url == '/' %}index{% else %}no-class{% endif %}">
      <article {% if page.url == '/blog/' %}class="blog"{% endif %}>
        {{ content }}
      </article>

    </main>
      
            {% include footer.html %}
      
  </body> 
</html>