<!DOCTYPE html>
<html>
  {% include head.html %}

  <body class="bg {% if page.is_page and page.url == '/testbed/' or page.url == "b"  %}testbed--body{% elsif page.is_page and page.url == '/b/' %}testbed--body{% else %}playground {% endif %}"  {% comment %}Removing feature color for now cause I dont want it interfering with anything fun in the JS {% if page.is_post and post.feature_color %}style="background-color: #{{ post.feature_color }}"{% endif %}{% endcomment %}>
    {% include header.html %}
    {% include menu.html %}
    <main class="{% if page.is_post %}post{% elsif page.is_page and page.url == '/testbed/' %}testbed page{% elsif page.is_page and page.url == '/b/' %}testbed page{% elsif page.is_page and page.url != '/' and page.url != "/playground/" %}page{% elsif page.url == '/' %}index-full{% else %}no-class{% endif %}">


      <article {% if page.url == '/blog/' %}class="blog"{% elsif page.url == '/photography/' or page.url == '/design/' or page.url contains '/category/' %}class="category"{% endif %}>
        {{ content }}
      </article>

    </main>
      {% unless page.url == "/" %}
            {% include footer.html %}
    {% endunless %}
  </body> 
          
<script type="text/javascript" src="/scripts/mf.js"></script>
    
    {% if page.url == '/' %}
    <script>
    
    var homepageInfo = document.getElementById('homepage-info');
    function checkHomePosition() {
        let windowY = window.scrollY;
        if (windowY < scrollPos) { } else {
    homepageInfo.classList.add('hide');
        }
        scrollPos = windowY;
        if (scrollPos < 10) { 
    // for homepage main title disappearance
   homepageInfo.classList.remove('hide');
 }      
    };


    </script>
    {% endif %}

{% if page.url == '/photography/' or page.url == '/design/' or page.url == '/blog/' %}

<script>


imagesLoaded( document.querySelector('#masonry'), function() {
  console.log('Images have been loaded');
  document.getElementById('masonry').classList.remove('hide');

    var macy = Macy({ 
        container: "#masonry",
        waitForImages: true,
        columns: 2,
    breakAt: {
        768: {
          columns: 1
    }
  }
    });

macy.on(macy.constants.EVENT_IMAGE_COMPLETE, function (ctx) {
 // console.log('all images have loaded, reinialize macy');
    setTimeout(function(){macy.reInit();}, 500);

});

})

</script>

{% endif %}



{% if page.url == '/' or page.url == '/photography/' or page.url == '/design/' or page.url == '/blog/' or page.url == '/playground/' %}
    <script>



var mySwiper = new Swiper('.swiper-container', {
  // Optional parameters
  loop: true,
  preventInteractionOnTransition: true,
  mousewheel: {
    mousewheel: true,
    sensitivity: 10,
    forceToAxis: true,
  },
  freeMode: false,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
    clickable: true,
        renderBullet: function (index, className) {
          return '<span data-sal="slide-up" data-sal-delay="' + ((index + 1)*1000 ) + '" data-sal-duration="500" class="' + className + '">' + '0' + (index + 1) + '</span>';
        },
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
}

)




sal();



    </script>
{% endif %}


</html>