--- 
layout: "default" 
---
<div class="grid">
    
    <aside>
    <h2 class="title">{{ page.title }}</h2>
<time
  >{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if
  page.meta %} • {{ page.meta }}{% endif %}</time
>
  {% for category in page.categories %}<a href="{{ site.url }}/category/{{ category | remove: ',' }}" title="">{{ category }}</a> {% endfor %}

    </aside>
    

    <section class="images">
{% if page.video %}
     <video loop muted autoplay playsinline>
        <source src="{{ page.video | strip_html }}" type="{% if page.video contains 'mp4' %}video/mp4{% else %}video/webm{% endif %}">
</video>    
{% endif %}
        
{% for image in page.images %}
        {% capture thecycle %}{% cycle 'uno', 'dos', 'tres', 'cuatro'  %}{% endcapture %}
<div class="imagewrap {{ thecycle }} {% if image.anchor %}{{ image.anchor }}{% endif %}"  data-sal="slide-{% cycle 'left', 'down', 'right', 'up' %}" data-sal-easing="ease-out-bounce" >
        {% capture path %}{{ image.img_url }}{% endcapture %}
{% capture alt %}{{ image.title }}{% endcapture %}

    {% if path contains 'mp4' or path contains 'webm' %}
 <video loop muted autoplay playsinline>
        <source src="{{ path | strip_html }}" type="{% if path contains 'mp4' %}video/mp4{% else %}video/webm{% endif %}">
</video>  
    {% else %}

{% responsive_image_block %}
  path: {{ path }}
  alt: {{ alt }}
  sizes: "(max-width: 550px) 67vh, 100vw"
{% endresponsive_image_block %}

{% endif %}
{% if image.title %}
        <p class="caption">{{ alt }}</p>
{% endif %}
        
        </div>
        {% if image.blockquote %}
        <blockquote class="{{ thecycle }}">{{ image.blockquote }}</blockquote>
        {% endif %}
        {% if image.paragraph %}
        <p class="{{ thecycle }}">{{ image.paragraph }}</p>
        {% endif %}
        {% if image.heading %}
        <h3 class="{{ thecycle }}">{{ image.heading }}</h3>
        {% endif %}
{% endfor %}
        
        {{ content }}
        
    </section>
    
</div>
