--- 
layout: "default" 
---
<span id="feature_color" data-color="{% if page.feature_color %}{{ page.feature_color }}{% else %}white{% endif %}"></span>
<div class="grid">

    
    <div class="chapter-markers">
          <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>
    </div>

    <section class="images">
{% if page.video %}
     <video loop muted autoplay playsinline webkit-playsinline data-sal="fade" data-sal-delay="450"  data-sal-duration="250" data-sal-easing="ease-in">
        <source src="{{ page.video | strip_html }}" type="{% if page.video contains 'mp4' %}video/mp4{% else %}video/webm{% endif %}">
</video>    
{% endif %}
        
{% for image in page.images %}
{% capture thecycle %}{% cycle 'left', 'right' %}{% endcapture %}
    {% if image.heading %}
        <h3 class="{{ thecycle }} heading">{{ image.heading }}</h3>
        {% endif %}
    
<div {% unless forloop.index == 1 %}data-sal="fade" data-sal-delay="450"  data-sal-duration="250" data-sal-easing="ease-in"{% endunless %} class="imagewrap {% if image.width and forloop.index != 1 %}{{ image.width }}{% endif %} {% if image.anchor %}{{ image.anchor }}{% endif %} {% if image.offset %}{{ image.offset }}{% endif %} 
{% if image.change_bg %}change-to-{{ image.change_bg }}{% endif %}" {% if forloop.index > 3 %} data-sal="fade" data-sal-delay="100"  data-sal-duration="250" data-sal-easing="ease-in" {% endif %} >
       {% if image.img_url contains 'youtube' or image.img_url contains 'vimeo' %}{% capture path %}{{ image.img_url }}{% endcapture %} {% else %}
        {% capture path %}{{ image.img_url | prepend: site.photourl }}{% endcapture %}{% endif %}
{% capture alt %}{{ image.title }}{% endcapture %}

    {% if path contains 'mp4' or path contains 'webm' %}
   {% capture poster %}{{ image.poster | prepend: site.photourl }}{% endcapture %}
 <video loop muted autoplay webkit-playsinline playsinline poster="{{ poster | strip_html }}{{ site.img_sizes.grande }}" {% if forloop.index == 1 %}class="post-leader"{% endif %}>
        <source src="{{ path | strip_html }}" type="{% if path contains 'mp4' %}video/mp4{% else %}video/webm{% endif %}">
         </video> 
             {% if forloop.index == 1 %} 

    <figure>
    <h2 class="title" data-sal="slide-up" data-sal-delay="600"  data-sal-duration="500" data-sal-easing="ease-in">{{ page.title }}</h2>
   {% if page.excerpt %}<p data-sal="slide-up" data-sal-delay="900"  data-sal-duration="500" data-sal-easing="ease-in" class="blurb">{{ page.excerpt }}</p>{% endif %}  
    <p class="scroll-helper" data-sal="slide-up" data-sal-delay="1500"  data-sal-duration="500" data-sal-easing="ease-in">&darr;</p>
    </figure>

     {% endif %}
    {% elsif path contains 'youtube' or path contains 'vimeo' %}
<div class="videoWrapper">
    <iframe width="560" height="315" src="{{ path }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
    {% else %}

    {% if forloop.index > 3 %}
     <a href="{{ image.img_url | prepend: site.photourl }}" class="expand{% if image.invert %} invert{% endif %}">
    <img src="{{ site.photourl }}/images/mf-img-preloader-L.gif" data-src="{% include img_src.html %}" data-srcset="{% include img_srcset.html %}" sizes="80vw" class="lazyload gallery-item" alt="{{ image.title }}" />
    </a>
    {% else %}
  {% unless forloop.index == 1 %}<a href="{{ image.img_url | prepend: site.photourl }}" class="expand{% if image.invert %} invert{% endif %}">{% endunless %}
    <img alt="{{ image.title }}" srcset="{% include img_srcset.html %}" src="{% include img_src.html %}"  sizes="80vw" class="gallery-item {% if forloop.index == 1 %} post-leader{% endif %}" />  
    {% if forloop.index == 1 %} 

    <figure>
    <h2 class="title" data-sal="slide-up" data-sal-delay="600"  data-sal-duration="500" data-sal-easing="ease-in">{{ page.title }}</h2>
   {% if page.excerpt %}<p data-sal="slide-up" data-sal-delay="900"  data-sal-duration="500" data-sal-easing="ease-in" class="blurb">{{ page.excerpt }}</p>{% endif %}  
    <p class="scroll-helper" data-sal="slide-up" data-sal-delay="1500"  data-sal-duration="500" data-sal-easing="ease-in">&darr;</p>
    </figure>

     {% endif %}
  {% unless forloop.index == 1 %}</a>  {% endunless %}
    {% endif %}
    
{% endif %}
{% if image.title %}
        <p class="caption">{{ alt }}</p>
{% endif %}
        
        </div>
     {% if image.blockquote or image.paragraph %}   
        <div class="extras" {% if forloop.index == 1 %}id="article-start"{% endif %}>
        {% if image.blockquote %}
            <blockquote class="quote-only {{ thecycle }}">{{ image.blockquote | newline_to_br }}</blockquote>
        {% endif %}
        {% if image.paragraph %}
        <p class="">{{ image.paragraph | newline_to_br }}</p>
        {% endif %}
                        </div>
      {% endif %}        

{% endfor %}
        
        {{ content }}
        
    </section> 
    {% comment %}
    <section class="end-matter">
    <time
  >{{ page.date | date: "%B %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if
  page.meta %} • {{ page.meta }}{% endif %}</time
>
        page category links
        <ul>
        {% for category in page.categories %}<li><a href="{{ site.url }}/category/{{ category | remove: ',' }}" title="">{{ category }}</a></li>{% endfor %}
        </ul>

    </section>
    {% endcomment %}
</div>
{% if page.next_in_category.url != nil %}
	<a href="{{ page.next_in_category.url }}" class="next-link">
<div class="next-post {% if page.next_in_category.cover_color %}{{ page.next_in_category.cover_color }}{% endif %}">
        <span>Next in {% for category in page.categories limit: 1 %}{{ category }}{% endfor %}</span>
        <h3>{{ page.next_in_category.title }}</h3>
        <p>{{ page.next_in_category.excerpt }}</p>
{% comment %}
{% if page.previous_in_category != nil %}
	<a href="{{ page.previous_in_category.url }}" class="previous-link">Newer Post</a>
{% endif %}{% endcomment %}
</div></a>
{% endif %}
<script>
    var color = document.getElementById('feature_color'),
        scheme = color.getAttribute('data-color'),
        body = document.querySelector('body'),
        footerLinks = document.querySelector('.footer-links');
        
    console.log(scheme);
    var colorize = function() {
        var footerLinks = document.querySelector('.footer-links');
        document.body.classList.add(scheme);
        footerLinks.classList.add(scheme);
    };
    
    document.addEventListener("DOMContentLoaded", function() { 
    // this function runs when the DOM is ready, i.e. when the document has been parsed
    colorize();
});
document.getElementById("myBar").style.backgroundColor = color;
window.onscroll = function() {chapterize()};


function chapterize() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("myBar").style.width = scrolled + "%";
} 

// easing functions http://goo.gl/5HLl8
Math.easeInOutQuad = function (t, b, c, d) {
  t /= d/2;
  if (t < 1) {
    return c/2*t*t + b
  }
  t--;
  return -c/2 * (t*(t-2) - 1) + b;
};

Math.easeInCubic = function(t, b, c, d) {
  var tc = (t/=d)*t*t;
  return b+c*(tc);
};

Math.inOutQuintic = function(t, b, c, d) {
  var ts = (t/=d)*t,
  tc = ts*t;
  return b+c*(6*tc*ts + -15*ts*ts + 10*tc);
};

// requestAnimationFrame for Smart Animating http://goo.gl/sx5sts
var requestAnimFrame = (function(){
  return  window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || function( callback ){ window.setTimeout(callback, 1000 / 60); };
})();



// Playing with fun chapter marker stuff but let's put it away now. 
/*


var chapterMarkers = document.getElementsByClassName("heading"); // Do not use a period here!
var values = Array.prototype.map.call(chapterMarkers, function(el) {
    return el.innerHTML;
});
var chapterLocation = document.querySelector(".progress-container");
console.log(chapterLocation);
values.forEach(function(el) {
    console.log(el);
    chapterLocation.append("el")
})

*/

   
        
</script>
