--- 
layout: "default" 
---
<div class="grid">
    
    <figure>
    <h2 class="title">{{ page.title }}</h2>
<time
  >{% comment %}{{ page.date | date: "%b %-d, %Y" }}{% endcomment %}{{ page.date | date: "%B %Y" }}</time
>
    </figure>
    

    <section class="images">
{% if page.video %}
     <video loop muted autoplay playsinline>
        <source src="{{ page.video | strip_html }}" type="{% if page.video contains 'mp4' %}video/mp4{% else %}video/webm{% endif %}">
</video> 
{% endif %}
{% if page.image %}
        {% capture thecycle %}{% cycle 'uno', 'dos', 'tres', 'cuatro'  %}{% endcapture %}
<div class="imagewrap {{ thecycle }}">
        {% capture path %}{{ page.image }}{% endcapture %}
{% capture alt %}{{ image.title }}{% endcapture %}

{% responsive_image_block %}
  path: {{ path }}
  alt: {{ alt }}
  sizes: "(max-width: 400px) 100vw, 50vw"
{% endresponsive_image_block %}

    
{% if image.title %}
        <p class="caption">{{ alt }}</p>
{% endif %}
        
</div>
{% endif %}
 
        {{ content }}
        
    </section>
  <div class="end-matter"> {% if page.author %}{{ page.author }}{% endif %}{% if
  page.meta %} • {{ page.meta }}{% endif %} 
      {% if page.categories %}
    <ul>  {% for category in page.categories %}<li><a href="{{ site.url }}/category/{{ category }}" title="">{{ category }}</a></li>{% endfor %}</ul>
    {% endif %}
    </div>  
  
    
</div>
